.resumenTotales {
    font-family: var(--fuente-txt-decorado);
    color: var(--texto);
    font-size: 14px;

    padding: 0.5rem 0.5rem;
    line-height: 1.2;


    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    align-self: stretch;
}

.resumenTotales p {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
}

.resumenTotales p span {
    font-family: var(--fuente-texto);
    color: var(--color-texto-obscuro);
    font-weight: 500;
}

.resumenTotales .final {
    color: var(--color-principal);
    font-size: 1rem;

    font-weight: 600;
    margin-top: 0.3rem;
    margin-bottom: 2px;
}